include CHANGELOG.md
include CITATION.cff
include CONTRIBUTING.md
include RCC_Quickstart.ipynb
include quickstart.py
include requirements-quickstart.txt
recursive-include .github *.yml
recursive-include docs *.md
recursive-include examples *.py
recursive-include results *.md
recursive-include results *.json
recursive-include tests *.py
recursive-include src/rcc_refcert/reference_data *.md
recursive-include src/rcc_refcert/reference_data *.json

include RCC_Bounds_Quickstart.ipynb
recursive-include src/rcc_refcert/bounds/data *.json
